<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        
    </head>
        <body>